.app {
  padding: 24px;
}

h1 {
  color: black;
  text-align: center;
}

button {
  padding: 0.75rem 1.5rem;
  background: transparent;
  border: 2px solid red;
  color: red;
  border-radius: 8px;
  cursor: pointer;
  font-size: large;
}

button:hover {
  background: red;
  color: white;
}


.slider {
  width: 300px;
  appearance: none;
  height: 6px;
  border-radius: 999px;
  background: #d1d5db;
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #2563eb;
  cursor: pointer;
}

.simulation-page {
  display: flex;
  gap: 24px;
  align-items: flex-start;
}

.output-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.parameter-panel {
  width: 280px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.plot {
  height: 400px;
  width: 98%;
  border: 1px solid green;
  border-radius: 8px;
  padding: 16px;
}

.parameter-control {
  display: flex;
  flex-direction: column;
  gap: 8px;
}